<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

    <link rel="stylesheet" href="../public/css/main_style.css" th:href="@{/css/main_style.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <script src="../public/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../public/js/scripts.js" th:src="@{/js/scripts.js}"></script>

    <meta charset="UTF-8" />
    <meta th:include="this :: head" th:remove="tag"/>

</head>
<body>
    <header th:fragment="site-header">
        <a href="index.html" th:href="@{/}"><img id="logo" src="../public/img/news_logo.png" th:src="@{/img/news_logo.png}" /></a>
        <a href="index.html" th:href="@{/}">Home</a>
        <a href="categories/index.html" th:href="@{/categories}">Categories</a>
        <a href="news/index.html" th:href="@{/news}">News</a>
        <a href="news/create.html" th:href="@{/news/create}">Create News</a>
        <a href="news/search.html" th:href="@{/news/search}">Search</a>

    </header>

    <!-- Some Body Here -->

    <footer th:fragment="site-footer">
        &copy; P.Y., 2017
    </footer>
</body>
</html>
